VITE_SUPABASE_PROJECT_ID=nkxpstyfrzufsnowjrdi
VITE_SUPABASE_URL=https://nkxpstyfrzufsnowjrdi.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_TNGEtvRCuME_Kn00KwqkAw_BwdmxQRb

SUPABASE_PROJECT_ID=nkxpstyfrzufsnowjrdi
SUPABASE_URL=https://nkxpstyfrzufsnowjrdi.supabase.co
SUPABASE_PUBLISHABLE_KEY=sb_publishable_TNGEtvRCuME_Kn00KwqkAw_BwdmxQRb
SUPABASE_SERVICE_ROLE_KEY=your-server-only-service-role-key
