VITE_SUPABASE_PROJECT_ID=nkxpstyfrzufsnowjrdi
VITE_SUPABASE_URL=https://nkxpstyfrzufsnowjrdi.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_TNGEtvRCuME_Kn00KwqkAw_BwdmxQRb
VITE_PUBLIC_SITE_URL=https://tadeon-nexus.lovable.app
